body {
    background-color: #303030;
    color: #eee
}


header {
    background-color: #202020;    
}

#countries {
    margin: 0 auto;
    padding: 1em 0;
}

.card {
    margin: 1em auto;
    padding: 2em 2em;
    width: 30em;
    background-color: #202020;
    box-shadow: 1em 0.4em 0.8em rgba(0, 0, 0, 0.4);
}

.card:hover {
    background-color: #161616;
}

.card ul {
    list-style: none;
}

.card ul li {
    width: 50%;
}

h6 {
    color: #808080;
}

.full {
    width: 80%;
    height: 32em;
    margin: 1em auto;
    padding: 2em;
    background-color: #202020;
    box-shadow: 1em 0.4em 0.8em rgba(0, 0, 0, 0.4);
}

#helpText {
    margin-bottom: 1em;
}

#mapid {
    height: 300px;
    width: 100%;
}

@media screen and (max-width: 992px) {
    nav > div {
        flex-direction: column-reverse;
    }
}